{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.imageName %}
        <img src="{{ vich_uploader_asset(object, 'imageFile') | imagine_filter('100xY') }}" alt="thumbnail">
    {% else %}
        <div class="default-empty-image"></div>
    {% endif %}
{% endblock %}
