{% extends 'web/base.html.twig' %}

{% block title %}{{ 'Contact Us' | trans }} · {{ parent() }}{% endblock %}

{% block main_body_class %}flex-grow max-w-5xl mx-auto my-8 bg-soft rounded-3xl shadow-md{% endblock %}

{% block body %}
    <section id="services" class="py-4 bg-soft rounded-3xl">
        <div class="container mx-auto px-4">
            <h2 class="text-2xl font-bold mb-6">{{ 'Contact Us' | trans }}</h2>
            <div class="grid md:grid-cols-2 gap-6 items-start">
                {% include '@App/web/partials/contact_us_partial.html.twig' %}
                <div class="text-center p-8 bg-dusk rounded-3xl">
                    {% include '@App/web/partials/whatsapp_partial.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
