{% extends 'web/base.html.twig' %}

{% block title %}{{ 'Contact Us' | trans }} · {{ parent() }}{% endblock %}

{% block body %}
    <section id="services" class="py-16 bg-soft rounded-3xl">
        <div class="container mx-auto px-4">
            <h2 class="text-2xl font-bold mb-6">{{ 'Contact Us' | trans }}</h2>
            <div class="grid md:grid-cols-3 gap-6">
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
