<p class="mt-4 text-xl text-gray-600">{{ 'WhatsApp Helper' | trans }}</p>
<a href="#whatsapp" class="mt-6 inline-flex items-center gap-x-2 bg-brand hover:bg-yellow-600 text-white font-semibold px-6 py-3 rounded transition">
    {{ ux_icon('streamline:whatsapp', {'class': 'w-6 h-6'}) }} {{ 'WhatsApp CTA' | trans }}
</a>
